.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  background-color: white;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  gap: 1px;
  grid-template-rows: repeat(2, 1fr);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

#item_1 {
  grid-column-end: span 2;
  grid-row-end: span 1;
  background-color: yellow;
  color: blue;
}

#item_2 {
  grid-column-end: span 1;
  grid-row-end: span 2;
  background-color: green;
  color: white;
}

#item_3 {
  grid-column-end: span 1;
  grid-row-end: span 1;
  background-color: blue;
  color: yellow;
}

#item_4 {
  grid-column-end: span 1;
  grid-row-end: span 1;
  background-color: red;
  color: turquoise;
}

#item_5 {
  grid-column-end: span 1;
  grid-row-end: span 1;
  background-color: turquoise;
  color: red;
}

#item_6 {
  grid-column-end: span 1;
  grid-row-end: span 1;
  background-color: lightgreen;
  color: hotpink;
}